[Unit]
Description=Freezer Inventory
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
WorkingDirectory=/home/ec2-user/apps/frzventory
ExecStart=/usr/bin/java -jar frzventory-standalone.jar

[Install]
WantedBy=multi-user.target
